<div layout="column" layout-align="center center" class="login">
    
    <img ng-src={{::assets['login_dispeak_logo.png']}} width="160" height="160" style="margin-bottom: 30px;">
    <md-card class="isi-card">
        <md-card-content style="padding:0 !important;">
            <div  layout="column">
                     <p class="form-header">Log in to continue</p>
            </div>
              

              
                <div layout="row" layout-align="center" ng-show="error_bool" class="login-error">
                    <h3 ng-repeat="err in error.errors">{{err}}</h3>
                </div>
              
                <form class="login-form" ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
                    <div layout="row">
                        <md-input-container class="login-input top-input">
                            <label>E-mail</label>
                            <md-icon>email</md-icon>
                            <input type="text" ng-model="loginForm.email" name="email">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="login-input bot-input">
                            <label>Password</label>
                            <md-icon>lock</md-icon>
                            <input ng-model="loginForm.password" type="password" name="password">
                        </md-input-container>
                    </div>


                    <div layout="row" layout-align="center" class="login-button">
                        <md-button type="submit" class="md-raised" ng-click="login">Log In</md-button>
                    </div>

                    <a></a>
                </form>
                <a class="login-footer" href="/#!/signup">
                    New to Dispeak ?
                    <span>Get Started here</span>
                </a>

            </div>

        </md-card-content>
    </md-card>

    <div>

    </div>


</div>
