// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  padding-top: 100px;
}

body {  background-color : #5F767F;  }

.isi-card {
  padding: 15px;
  border-radius: 3%;
}

.top-input {
  margin-bottom: 0;
}

.bot-input {
  margin-top: 0;
}

.login-input {
  width: 300px;
}

.login-button {
  padding-top: 15px;
  button {
    background-color : #5F767F !important;
    color: white !important;
  }
}
