// Place all the styles related to the welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  padding-top: 200px;
}

.blue-background {  background-color : #5F767F;  }

.isi-card {
  border-radius: 3%;
  margin: 0 !important;
}

.login-form {
  padding: 15px;
}

.signup-form {
  padding : 15px;
}

.top-input {
  margin-bottom: 0;
}

.mid-input{
  margin: 0;
}

.bot-input {
  margin-top: 0;
  margin-bottom: 10px;
}

.login-input {
  width: 350px;
}

.signup-input{
  width: 500px;
  margin-bottom: 10px;
}

.login-button {
  margin-bottom: 20px;
  button {
    background-color : #5F767F !important;
    color: white !important;
    width: 130px;
  }
}

.signup-button {
  margin-bottom: 20px;
  button {
    background-color: #5F767F !important;
    color: white !important;
    width: 250px;
  }
}

.form-header {
  margin-top: 40px;
  text-align: center;
  font-size: 22px;
  color: #5F767F;
}

.login-footer {
  text-align: center;
  padding: 20px;
  display: block;
  color: #878797;
  font-weight: 100;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  &:hover {
    background-color: #f5f5f5;
    color: #878797;
  }
}

a.login-footer {
  text-decoration: none;
}

a.login-footer > span {
  color: #5F767F;
  text-decoration: underline;
}

.forgot-link {
  margin-left: 5px;
  text-align: center;
  color: #5F767F;
  text-decoration: none;
  font-size: 12px;
}
